language: java
install: skip
os: linux
dist: trusty
jdk: oraclejdk8
script:
- "./gradlew test"
- "./gradlew build"
- "./gradlew run"
notifications:
  slack:
    rooms:
    - secure: OXCN4MLNVF+ykLpGZsWwg9OsRMBQBl4GzDNqkcw3KKVZ62saI03KJSFa55jC6h8AXKGF3wrQjb8FVwxO/T5VpZfMFG37r1UvGuu2KTDqOmLawsVhLVCI1zSxlIcz/VGGGVbi2eqYhG5Le+bUVltlPFom48xJOyHkg6/G0lSzL610O8ZrnaGkltxpeGgUAkQEbJ5KC8omwtTWP6txOvJvu5BLXiXEiLzWwi6Pk1BVwCLA9LoCS0IBoMh0mVoGZ0oygoHWZjcfVenZzLI7db6a1VeVqKZ+ym3c2IdXKCnwIUhmfqwSw1FuswqTaXvrwKEl5WlVlJngrIIi6Iqk0AXNF5P4ksI6LpoHC2vlqziZrR9m10MViNxgcgDKa17q9kXz6iAX4xNdxi8U0a7bMY8k0XR88wzOJ1ehx4qOWb3tBlI8Xey9c036KpcC1m58d2mqyhr4pggKxCvpJKZTge0GZuXqs9PK97407FqTqmTzhr4Xpc69CLebQfYKPLDYbw/NrU44sGHStY3ehRfs1BKmN4EzFTKHkXxvuFqlx8pMQtpe1iWdhpmejWc0D4+gnMMBf3gH7e2VlwuVp8iqqBN0xM57iBJKf9f2Tv0YIOcSjUrCfML+PIgIY7g0H86DvQI0AZo4iCd5G9GjvTW6fwMCoD9o6EVktxJ0QJBe2lIGIKg=
    on_success: always
    on_failure: always
deploy:
  provider: heroku
  api_key:
    secure: c9c5k0oLSuTfGbr08LVxLZ7CgyxB9qMj0nXAqKeNYL/6C1YOMf1bV8ySwb9VlBZNZzi3y/szmG7BfVHZqWimvdaSk0z2EviDxig4iVuWwHFJAzPv5VMQbjSENu5E/qfmeWw9y/fYWyaLQB2sIQ65+Hm09tSAnD5o25ZABv8rCUp6T4JagYIh3GYjcLraep1PFYNR75eDCU/h4jUuMZHLdp0CB4FNwBF9bI0FKhHYW7p/ARwjSpyGifxmvWoMfpONXg7eCJ2Ku7wYKAhrz40OVPhcG7CrUv98f2ckZt8yguu/2pRnRaa7073RpF2wlc4xw3N1yegUfNsOWPPA3Bf/HiQcokTn/jwkG2bXCVkrbRfTKMqbteSIpq0jEnepAj6V7Zh/nXgakyjW4Nc/yl3JXG7HC7dV9K7AovZVZ1UMYycAKjo+eud2T0AQdb1w5FwZz3XFjThroAloFDicP/LPK3EXcOYZ6kBT1QUSr0UP7UvBMkzTg3tp01hDAgpFQE3U9Uafs0J2IJQyUQQa69iDR9WRaOjh5HprVowX6olfyTA/lGI+9HIWbavgQ1yxGJoDnm5R9KNIKgQcQkFrwbWuNVUBhBfJXdRER4SKcZlb65Eq7AzLVCJapRcc97vb46l0eBFk0RLxNw12oSeg4iCTq51qRQ9j28PYxDPPjobo144=
  on: main