language: java
install: skip
os: linux
dist: trusty
jdk: oraclejdk8
script:
- "./gradlew test"
- "./gradlew build"
- "./gradlew run"
notifications:
  slack:
    secure: Cs64RiVI5H1pArQQCgwXhnsGhH3tDDJ6K1N5mAmb+d6SEaR4Ip/aRm5FCQvpSzF4ilGuomRphcEcstdmt8k5kfmFGsnFnsnGek/GR7U/UwvLwMpIOZ1cGGCktpl6Ab9nR3bQ9bnrEmU2n96WL1JVPVbYkN1RQnclcwGI4jgHUYbUuF53tliQGGyScKVjvCHBV2DLgmM9K7cHMYa6jGzsQsOy5Gn22hg31NCZfjmjdsZc++fTNy2cGXT2MUFL5WnwyIeGgh4Epq/5tMtYlpaKAQW4yyGX1A/zGYWZRwvkpi7WNpbyi3wAbEXH+tisVrH9D7VnH6DAf+PsXmzAl0fYKaVeOhD6lsCkXr+N+HlAQ+9cb25FwfGkPQbISrT41eNV8+eV5Wsubvuw+CsEC1ybeKlm7ALs5tj1f7rWEt3sCpFBYW7MgTxguGes+bAtNRQg71UXIi1e/uS/CchGM1A+z+gbmz8/u/v8CR2JapbDfxHgywGKQeYHe1qcUANoqq1ZZgHDJUME68nYoSXvI9SHH+Odi+pw08uCgVYtygVR57xGBQ9dcnNnNzp1gK+mTn68OjzSGT+hnI8yBU15kphjOME2pv8Ncmt8/xcKtsPXUFOImvMlv7z7ApgHw7+l3lMcERvwr2XZ5N0ATU+o8ErOfcf08iAW+bKMoy9SYoNdqkY=
deploy:
  provider: heroku
  app: ci-me-please-mpgarciav
  api_key:
    secure: HByoT3TSP+AK76E1JtE/bdn4Vz3wFi2sRcuMbULbABqRlxExrA1T4xiWXPszWdWmAaRTMTOnpi/Pl1+SIqKXLM/OZ5FHm9UCCqMzaCAkQ2snZ6Y3xQrUjT3CyjnjtA78d+HAi3vunM70LWKiNfXT5C4kpmS6w9hIKYmOU45/RfUeFmgCw3e+Ou0pzQGqgk3vnUS53/zRYhPt5/GYbgRdVYJkiuQvQYgAe1Yo9j/YxcgHuZ/tO9DHknQ2jKgsL541kgZjBR1veugePo1iD1/WIudPt2JHFnaMv+fYwheKYVKBnHE+hCHXfYQUVQMb0OY1c3AZcaXn4ST7QFY01DuSe/aPLdQVRIgkBMXHAhI/RAKrAu5fAy7k9hWXN9SE+NYPu72owwFVffUxT6ovMeTIz0j8fg3o+wH4cv6Gp0XIIcbYR3df9YIAmLlDm8lzGnZgOtkwhHSE80ZNK1ht8ikAlxiSJwPIbun22g/t6w3e1V/pDaaHfptEpnAgBQWGoTxBxH5/Mfv+WRQwCVNbozUD0xNbGSFub+bmA66llgw5LvbI6W2wYKp+8EvUdoeEIYAIw8hFgWvheQwEZeQfYShV5xMMtinQroa2WlUPyB0r7hpdli7UcpAbgTRcjvVJNEa9UCfyGgChMJIhSLWUHFMZ4QJJ4my6DnndKUTsqlB6IIA=
  on:
    repo: mpgarciav/ci-me-please
    all_branches: true
# testing if this still works...
branches:
  only:
    - main
# testing if the PR thing worked
