language: java
install: skip
os: linux
dist: trusty
jdk: oraclejdk8
script:
- "./gradlew test"
- "./gradlew build"
- "./gradlew run"
notifications:
  slack:
    secure: OXCN4MLNVF+ykLpGZsWwg9OsRMBQBl4GzDNqkcw3KKVZ62saI03KJSFa55jC6h8AXKGF3wrQjb8FVwxO/T5VpZfMFG37r1UvGuu2KTDqOmLawsVhLVCI1zSxlIcz/VGGGVbi2eqYhG5Le+bUVltlPFom48xJOyHkg6/G0lSzL610O8ZrnaGkltxpeGgUAkQEbJ5KC8omwtTWP6txOvJvu5BLXiXEiLzWwi6Pk1BVwCLA9LoCS0IBoMh0mVoGZ0oygoHWZjcfVenZzLI7db6a1VeVqKZ+ym3c2IdXKCnwIUhmfqwSw1FuswqTaXvrwKEl5WlVlJngrIIi6Iqk0AXNF5P4ksI6LpoHC2vlqziZrR9m10MViNxgcgDKa17q9kXz6iAX4xNdxi8U0a7bMY8k0XR88wzOJ1ehx4qOWb3tBlI8Xey9c036KpcC1m58d2mqyhr4pggKxCvpJKZTge0GZuXqs9PK97407FqTqmTzhr4Xpc69CLebQfYKPLDYbw/NrU44sGHStY3ehRfs1BKmN4EzFTKHkXxvuFqlx8pMQtpe1iWdhpmejWc0D4+gnMMBf3gH7e2VlwuVp8iqqBN0xM57iBJKf9f2Tv0YIOcSjUrCfML+PIgIY7g0H86DvQI0AZo4iCd5G9GjvTW6fwMCoD9o6EVktxJ0QJBe2lIGIKg=
    on_success: always
    on_failure: always
deploy:
  provider: heroku
  api_key: vVJzLN2EzEwqq45jGBgFbhKpm5iyyBbICahhwE/QCs67Pa5zhxrZthwuKR08i4nASND0ffaMPe/VcGMhFtCVbqrMlvifeuQfIsmEmQbiJmp2w/sXNS5JdJpuoJB3elx1EZWxNla2SQmVQlhM0aY7lM57SpKL8lNcaESimHXHkKd7M3v4n/4DofpUq3YtZvnKUw5U5qpSLKEU/uqrak06XtkwvOlKLIuWCt0gpq2OQ4H9tB6NZW7CDNbGb6/NosFij+yXVlWgOkKMXXIhB0v8VMUB59eQ6zVd8W+djhXjyO6NHghgHol1QxL4ihzVsKYmH1IKIVD0S1POXkylPA7aLz+AqBAmyhM7Mi6kZ976sewS3+W7KPJyYtVK+p1crlhRwLoDizEFc+RABGWHCnOtVdwE1hrKzeCjVLH+E+5QQyiNNB2d8EjEcUwoXIxMDo5NSRAeEtb0iEHsyjzrKeBnHy3mJX0zTjBFcQCboBg4tVon2HXC58OI/j8IIbCwPGJ9G/uJAiv/GVqzCnlMckyFXdTQI4bumr9iJOqauKPnajf84hNqGcPQYGhiQT6j/+iiU83vle3WQImIo+Zjf19ox5xwS8K33sDVVkTHs+zHIPYV5mk6bBXNMNwgBa1i2xn/Ffug5BfoN12aaBPEpGHsDZR8DRzDaitbo1gKyB+7Jo8=
  on: main